.modal {
  background-color: #f7f8fc;
  border-radius: 15px;
  margin: 0.5rem auto;
  width: 85%;
  height: 92%;
  outline: none;
  z-index: 10;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-header {
  font-family: Varela;
  direction: rtl;
  width: 100%;
  color: #fff;
  background-color: $primary-color;
  margin: 0;
  padding: 5px 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.modal-header span {
  font-size: 1.5rem;
}

.modal-body {
  font-family: Varela;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.modal-body img {
  width: 35%;
  height: 35%;
  margin: 0.5rem auto;
  border-radius: 10px;
}

.modal-body small {
  color: #666;
}

.modal-body p {
  font-size: 1.3rem;
}

.modal-body p span {
  color: $primary-color;
}

.modal-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

.modal-footer button {
  margin: 0 0.5rem;
}

.modal-kdm {
  font-size: 1rem !important;
}
